@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@1,900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@1,900&display=swap");
* {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pri_color: rgb(130, 148, 196);
  --sec_color: rgb(172, 177, 214);
  --black_color: rgb(39, 55, 77);
  --fail_color: rgb(255, 0, 0);
  --success_color: rgb(219, 223, 234);
  --input_color: rgb(255, 234, 210);
  --border_color: rgb(82, 109, 130);
}

html {
  font-size: 90%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/image/square.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body .container_form {
  width: 300px;
  height: 450px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;
  border-radius: 10px;
  border: 2px solid rgb(234, 234, 234);
  background: var(--pri_color);
  overflow: hidden;
  z-index: 1;
}
body .container_form .overlay {
  position: absolute;
  background: var(--sec_color);
  content: "";
  height: 500px;
  width: 500px;
  border-radius: 50%;
  z-index: 2;
  top: -20%;
}
body .container_form .divTitle {
  position: relative;
  width: 100%;
  margin: 10px auto 5px;
  text-align: center;
  transform: translateY(-3rem);
  z-index: 1000;
}
body .container_form .divTitle .title {
  color: var(--black_color);
  font-weight: 700;
  font-size: 2.5rem;
}
body .container_form .row {
  display: grid;
  position: relative;
  gap: 0.5rem;
  z-index: 1000;
  transform: translateY(-1rem);
  padding-bottom: 0.1rem;
}
body .container_form .row label {
  display: block;
  padding-bottom: 1px;
  font-size: 15px;
}
body .container_form .row input {
  width: 100%;
  background: var(--input_color);
  outline: none;
  border: none;
  color: var(--black_color);
  padding: 0.3rem;
  font-weight: 500;
  border-radius: 5px;
}
body .container_form .row ::-moz-placeholder {
  font-size: 15px;
}
body .container_form .row ::placeholder {
  font-size: 15px;
}
body .container_form .row #sub_btn {
  background: var(--black_color);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
body .container_form .row #sub_btn:hover {
  background: rgb(145, 144, 150);
  transition: 0.1s;
  color: var(--black_color);
}
body .container_form .row .linkRegister {
  display: block;
  font-size: 15px;
  color: var(--black_color);
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
}
body .container_form .row .linkRegister a {
  text-decoration: none;
  cursor: pointer;
}

.dashboard {
  text-align: center;
}
.dashboard h1 {
  margin: 1rem 0;
  font-size: 3rem;
  color: var(--pri_color);
}
.dashboard .btnLogOut {
  cursor: pointer;
}
.dashboard .btnLogOut:hover a {
  background: var(--sec_color);
  color: var(--black_color);
}
.dashboard .btnLogOut a {
  padding: 10px 20px;
  color: #fff;
  background: var(--sec_color);
  border-radius: 5px;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .dashboard h1 {
    font-size: 5rem;
  }
}/*# sourceMappingURL=main.css.map */